@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0f0f12;
  --card: #15151a;
  --accent: #35d0ba;
  --text: #f2f2f2;
}

body {
  background: var(--bg);
  color: var(--text);
}
